@using WebsitePanel.WebDavPortal.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container row">
        <div class="form-group">
            <h3>@UI.PasswordReset</h3>
            <h4>@Messages.PasswordResetEmailSent</h4>
        </div>
</div>

