<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections/>
  <appSettings>
    <add key="routingDomain" value=".tmp"/>
    <add key="logFile" value="C:\Temp\WSP.Log"/>
    <add key="enableVerboseLogging" value="false"/>
    <add key="blockInternalInterTenantOOF" value="true"/>
  </appSettings>
</configuration>