@using WebsitePanel.WebDav.Core.Client
@using WebsitePanel.WebDavPortal.Resources
@using WebsitePanel.WebDavPortal.UI.Routes
@model WebsitePanel.WebDavPortal.Models.ModelForWebDav

<div class="container">
    
    <div class="search-block navbar-right">
        <div>
            @using (Html.BeginRouteForm(FileSystemRouteNames.ShowContentPath))
            {
                <label>
                    @UI.Search:
                </label>
                    @Html.TextBoxFor(x => x.SearchValue, new { @class = "form-control input-sm"})
            }
        </div>
    </div>
</div>

<div class="container">


    <div class="row" id="resourcesDiv">
        @if (Model != null)
        {
            foreach (IHierarchyItem element in Model.Items)
            {
                @Html.Partial("_ResoursePartial", element)
            }
        }
    </div>
</div>
