<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EnterpriseServer" connectionString="server=dev-sql;database=WebsitePanel;uid=WebsitePanel;pwd=sbbk40q85dc7jzj8b5kn;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
	<!-- Encryption util settings -->
    <add key="WebsitePanel.CryptoKey" value="0123456789"/>
	<!-- A1D4KDHUE83NKHddF -->
	<add key="WebsitePanel.EncryptionEnabled" value="true" />
  </appSettings>
</configuration>
