body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* User styles */

.icon-size {
	width: 100px;
	height: 100px;
}

.element-container {
	margin-bottom: 15px;
	text-align:center;
    cursor: pointer;
}

.element-container .element {
    position: relative;
    text-align:center;
}

.selected-file .element {
      position: relative;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      border: 1px solid rgb(80, 152, 249);
      padding: 3px;
}

.selected-file .element div.selected-element-overlay {
    position:absolute; 
    top:0px;
    left: 0px;
    width:100%; 
    height:100%; 
    background:rgb(200, 224, 255); 
    opacity:0.3;
    pointer-events: none;
}

#errorMessage {
        color: red;
        font-weight: bold;
        padding-top: 5px;
    }

#username {
    display:inline-block;
}

#logout {
    font-size: 1.2em;
    color: #9d9d9d;
}

#logout :hover {
    color: white;
}


.web-dav-folder-progress {
    margin-bottom: 0px;
}

.modal-vertical-centered {
    margin-top: 25%;
}


.file-actions-menu {
    margin-top: 10px;
    margin-bottom: 15px;
}

.file-actions-menu .file-deletion {
    display: none;
}

#message-area {
    margin-top: 15px;
}