body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* User styles */

.icon-size {
	width: 100px;
	height: 100px;
}

.element-container {
	margin-bottom: 15px;
	text-align:center;
    cursor: pointer;
}

.element-container .element {
    position: relative;
    text-align:center;
}

.selected-file .element {
      position: relative;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      border: 1px solid rgb(80, 152, 249);
      padding: 3px;
}

.selected-file .element div.selected-element-overlay {
    position:absolute; 
    top:0px;
    left: 0px;
    width:100%; 
    height:100%; 
    background:rgb(200, 224, 255); 
    opacity:0.3;
    pointer-events: none;
}

#errorMessage {
        color: red;
        font-weight: bold;
        padding-top: 5px;
    }

#username {
    display:inline-block;
}

#logout {
    font-size: 1.2em;
    color: #9d9d9d;
}

#logout :hover {
    color: white;
}


.web-dav-folder-progress {
    margin-bottom: 0px;
}

.modal-vertical-centered {
    margin-top: 25%;
}


.file-actions-menu {
    margin-top: 10px;
    margin-bottom: 15px;
}

.file-actions-menu .file-deletion {
    display: none;
}

#message-area {
    margin-top: 15px;
}

/* Theme Mods */

input,div{border-radius:0px!important;}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    background-image: none;
	font-family: 'Segoe UI Light','Open Sans',Arial;    
	color: #fff;    
	border: 1px solid #5e86aa;    
	background: #6598c5;    
	font-weight: 300;    
	text-align: center;    
	vertical-align: middle;    
	cursor: pointer;    
	white-space: nowrap;    
	padding: 6px 12px;    
	font-size: 14px;    
	line-height: 1.428571429;
    border-radius: 0px;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.navbar-inverse {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}

.navbar-inverse .navbar-brand, .navbar-text, #logout{
  color: #FFFFFF;
  opacity: 0.8;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-text:hover, #logout:hover {
  color: #fff;
  background-color: transparent;
  opacity: 1;
}
div#breadcrumb_wrapper {
  padding: 10px 5px 12px 25px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

div#breadcrumb_wrapper a:last-child {
   color: #999;
}
.form-control {
    border-radius: 4px;
}

.header-logo {
    float: none;
    display: inline-block;
    margin-right: 10px;
}

.header-portal-title {
    float: none;
    display: inline-block;
}