/* BROWSE MIDDLE */
.BrowseContainer, .EditContainer {margin:0 10px 10px 10px;}

.LoginContainer .Header, .BrowseContainer .Header, .EditContainer .Header {width:100%; overflow:hidden; margin-bottom:10px;}
.LoginContainer .Header img, .BrowseContainer .Header img, .EditContainer .Header img {float:left; opacity:0.8;}
.LoginContainer .Header span, .BrowseContainer .Header span, .EditContainer .Header span {font-size:26px; line-height:44px; font-weight:300; color:#333;}
.LoginContainer .Content, .BrowseContainer .Content, .EditContainer .Content {clear:both}

/* POPUP */
.PopupContainer {background:#fff; padding:20px 40px;}
.PopupContainer .Header {width:100%;}
.PopupContainer .HeaderLeft, .PopupContainer .HeaderRight {display:none;}
.PopupContainer .HeaderIcon {}
.PopupContainer .HeaderTitle {text-align:center;}
.PopupContainer .Content {}
.PopupContainer .Body {}

/* Exchange Module Styles */
.ExchangeHeader
{
	float: left;
    background-size:991px 1px;  
}
.ExchangeBody
{
	float: left;
    background-size:991px 142px;  
	clear: both;
}
.ExchangeBottom
{
	float: left;
    background-size:991px 5px; 
}
.ExchangeFooter
{
	float: left;
    background-size:991px 1px;
	padding-bottom: 10px;
}
#ExchangeContainer
{
	background-color: transparent;
}

#ExchangeContainer .Module
{
	background-color: Transparent;
}

#ExchangeContainer .Header
{
	margin: 0px;
	background: Transparent;
	padding: 20px 0px 10px 20px;
	width: auto;
	clear: both;
}

#ExchangeContainer .Header .Breadcrumb
{
	/*font-family: Tahoma;*/
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}

#ExchangeContainer .Left
{
	float: left;
	background: transparent;
    width: 0px;
}

#ExchangeContainer .Content
{
	float: right;
    width: 981px;
    padding-right: 5px;
    margin-left: 5px;
}

#ExchangeContainer .Center
{
	float: left;
	background: transparent;
	width: 100%; 
}

#ExchangeContainer .Right
{
	float: right;
	margin: 20px 12px 10px 0px;
	width: 168px;
	background-color: transparent;
	font-size: 11px;
	text-align: justify;
}

#ExchangeContainer .Title
{
	/*font-family: Arial;*/
	font-size: 14pt;
    margin-top: 9px;
	margin-bottom: 7px;
}

#ExchangeContainer .MenuGroup 
{
	
	/*font-family: Tahoma;*/
	font-size: 8pt;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}


#ExchangeContainer .Menu
{
	background: transparent url(../images/Exchange/menu_item_bg.gif) top left no-repeat;
	padding-top: 2px;
	padding-bottom: 30px;
}

#ExchangeContainer .Menu A
{
	padding-left: 20px;
	/*font-family: Tahoma;*/
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	background: transparent url(../images/Exchange/bullet.gif) center left no-repeat;
	font-weight:normal;
}

#ExchangeContainer .Menu .SelectedMenuItem A,
#ExchangeContainer .Menu A:Hover
{
	background: transparent url(../images/Exchange/bullet_hover.gif) center left no-repeat;
}


#ExchangeContainer .Menu .MenuItem
{
	padding: 5px 0px 5px 10px;
	
}

#ExchangeContainer .Menu .SelectedMenuItem
{
	font-weight: bold;
	padding: 5px 0px 5px 10px;
	
}

/* VPS */
.VpsHeader
{
	float: left;
	background: transparent url(../images/Exchange/main_bg.gif) left top repeat-y;
}
.VpsBody
{
	float: left;
	background: transparent url(../images/Exchange/module_header.gif) left top no-repeat;
	clear: both;
}
.VpsBottom
{
	float: left;
	background: transparent url(../images/Exchange/module_footer.gif) left bottom no-repeat;
}
.VpsFooter
{
	float: left;
	background: transparent url(../images/Exchange/bottom_bg.gif) left top repeat-y;
	padding-bottom: 10px;
}
#VpsContainer
{
	background-color: transparent;
}

#VpsContainer .Module
{
	background-color: Transparent;
}

#VpsContainer .Header
{
	margin: 0px;
	background: Transparent;
	padding: 20px 0px 10px 20px;
	width: auto;
	clear: both;
}

#VpsContainer .Header .Breadcrumb
{
	/*font-family: Arial;*/
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}

#VpsContainer .Left
{
	padding-left: 15px;
	float: left;
	background: transparent;
	padding-top: 14px;
	width: 185px;
}

#VpsContainer .Content
{
	float: right;
	width: 790px;
}

#VpsContainer .Center
{
	float: left;
	background: transparent;
	width: 100%;
}

#VpsContainer .Right
{
	float: right;
	margin: 20px 12px 10px 0px;
	width: 168px;
	background-color: transparent;
	font-size: 11px;
	text-align: justify;
}

#VpsContainer .Title
{
	/*font-family: Arial;*/
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #444444;
}

#VpsContainer .SubTitle
{
	/*font-family: Arial;*/
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 5px;
}

#VpsContainer .MenuGroup 
{
	
	/*font-family: Tahoma;*/
	font-size: 8pt;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}


#VpsContainer .Menu
{
	background: transparent url(../images/Exchange/menu_item_bg.gif) top left no-repeat;
	padding-top: 2px;
	padding-bottom: 30px;
}

#VpsContainer .Menu A
{
	padding-left: 20px;
	/*font-family: Tahoma;*/
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	background: transparent url(../images/Exchange/bullet.gif) center left no-repeat;
	font-weight:normal;
}

#VpsContainer .Menu .SelectedMenuItem A,
#VpsContainer .Menu A:Hover
{
	background: transparent url(../images/Exchange/bullet_hover.gif) center left no-repeat;
}


#VpsContainer .Menu .MenuItem
{
	padding: 5px 0px 5px 10px;
}

#VpsContainer .Menu .SelectedMenuItem
{
	font-weight: bold;
	padding: 5px 0px 5px 10px;
	
}

/* VPSForPC */
.VpsForPCBody
{
	float: left;
	background: transparent url(../images/VPSForPC/private_cloud_module_header_vps.gif) left top no-repeat;
	clear: both;
}

/* POPUP */
.Popup {width:450px; margin:40px auto 150px auto;}
.Popup-Header {width: 100%;}
.Popup-HeaderLeft, .Popup-HeaderRight {display:none;}

.Popup-HeaderIcon
{
	float: left;
	margin-right: 5px;
}

.Popup-HeaderTitle
{
	background: #FCFCFC url(../images/module_header_bkg.gif) left top repeat-x;
	padding: 6px 4px 4px 4px;
	/*font-family: Arial;*/
	font-size: 9pt;
	font-weight: bold;
	width: auto;
}

.Popup-Content
{
	clear: both;
	border: solid 1px #7F7F7F;
	border-top: none;
	background-color: #FCFCFC;
}

.Popup-Body
{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 8pt;
}

.Popup-Scroll
{
	width: auto;
	height: 200px;
	overflow: auto;
	white-space: nowrap;	
}