.TopMenu ul.AspNet-Menu li ul li.AspNet-Menu-WithChildren {}
.TopMenu ul.AspNet-Menu li ul li.AspNet-Menu-WithChildren span {height:auto; line-height:20px; padding:0; background:none; color:#333; font-size:13px; line-height:34px; text-transform:capitalize;}
.MenuHeader {float:left; position:relative; display:block; background-image:url('/g/icons.png'); background-repeat:no-repeat; line-height:74px; text-transform:uppercase; font-size:12px; color:#fff; overflow:hidden; padding:0 22px 0 34px; filter:alpha(opacity=70); opacity:0.7; cursor:pointer;}
.MenuHeader:hover {filter:alpha(opacity=100); opacity:1;}
.TopMenu ul.AspNet-Menu li ul li.AspNet-Menu-WithChildren span:after {content:'→'; float:right; margin-right:10px;}
.TopMenu ul.AspNet-Menu li {float:left; position:relative;}
.TopMenu ul.AspNet-Menu li a, .TopMenu ul.AspNet-Menu li span {display:block; background-image:url('/g/icons.png'); background-repeat:no-repeat; line-height:40px; text-transform:uppercase; font-size:12px; color:#fff; overflow:hidden; padding:0 22px 0 34px; filter:alpha(opacity=90); opacity:0.9; cursor:pointer;}
.TopMenu ul.AspNet-Menu li:first-child a {padding:0 0 0 0;}
.TopMenu ul.AspNet-Menu li a:hover, .TopMenu ul.AspNet-Menu li.AspNet-Menu-Hover, .TopMenu ul.AspNet-Menu li span:hover {filter:alpha(opacity=100); opacity:1;}
.TopMenu ul.AspNet-Menu li span {}
.TopMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li {text-align:left; clear:both; text-indent:10px; color:#777; margin:0 0 0 5px;}
.TopMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li a {height:auto; line-height:20px; padding:0; background:none; color:#333; font-size:13px; line-height:34px; text-transform:capitalize;}
.TopMenu ul.AspNet-Menu li ul li:hover, .TopMenu ul.AspNet-Menu li ul li.AspNet-Menu-Hover {background:#f6f6f6;}
.TopMenu ul.AspNet-Menu li ul li:hover a, .TopMenu ul.AspNet-Menu li ul li.AspNet-Menu-Hover a {color:#313131;}
.TopMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul:before {display:none;}
.TopMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul {width:160px; left:134px; position:absolute; z-index:3; top:4px;}

/* not modified */
.TopMenu ul.AspNet-Menu {width: 100%; z-index: 500;}
.TopMenu ul.AspNet-Menu ul {width: 10.5em; left: 0; top: 100%; z-index: 501;}
.TopMenu ul.AspNet-Menu ul ul {top: -1em z-index: 502;}
.TopMenu ul.AspNet-Menu li ul li.AspNet-Menu-WithChildren span img {border-style:None; height:16px; width:16px; border-width:0px; padding-right: 3px; float:left; position:relative;}
.TopMenu li.AspNet-Menu-Leaf a, .TopMenu li.AspNet-Menu-Leaf span {}
.TopMenu li.AspNet-Menu-Leaf a img {display:inline-block; vertical-align:middle; margin:0 5px 0 5px;}
.TopMenu ul.AspNet-Menu li:hover a, .TopMenu ul.AspNet-Menu li:hover span {}
.TopMenu ul.AspNet-Menu li.AspNet-Menu-Hover a, .TopMenu ul.AspNet-Menu li.AspNet-Menu-Hover span {}
.TopMenu ul.AspNet-Menu li ul li {margin: 0px; width: 100%;}
/*.TopMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul:before {width:0; height:0; position:absolute; content:" "; top:-8px; left:50%; margin-left:-8px; border-style:solid; border-width:0 8px 8px 8px; border-color:transparent transparent #fff transparent;}*/
.TopMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul {position: absolute; top: 100%; left: 0; z-index: 1000; float: left; min-width: 180px; padding: 5px 10px 5px 0; margin: -10px 0 0 0; list-style: none; font-size: 14px; background-color: #FFF; border: 1px solid #CCC; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 0; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-clip: padding-box;}
.LeftMenu {font-size: 8pt;}
.LeftMenu ul {background-color: #D1E9FF;}
.LeftMenu ul.AspNet-Menu {width: 190px;}
.LeftMenu ul.AspNet-Menu ul, .LeftMenu ul.AspNet-Menu ul ul {left: 190px; top: -0.5em; width: 190px; z-index: 400; border: solid 1px #86B9F7; padding: 2px;}
.LeftMenu li.AspNet-Menu-Leaf a, .LeftMenu li.AspNet-Menu-Leaf span {background-image: none !important;}
.LeftMenu ul.AspNet-Menu li a {color: #000000; padding: 6px 15px 6px 7px; text-align: left;}
.LeftMenu ul.AspNet-Menu li span {cursor: pointer; color: #333333; padding: 6px 25px 6px 7px; background: transparent url(../Images/menu_popup_right.gif) right center no-repeat; text-align: left;}
.LeftMenu ul.AspNet-Menu li:hover, .LeftMenu ul.AspNet-Menu li.AspNet-Menu-Hover {background-image: url(../Images/left_menu_hover_bkg.gif); background-repeat: no-repeat;}
.LeftMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul {border: solid 1px #CCCCCC; background-color: #F8F8F8;}
.LeftMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li a {padding: 7px 15px 7px 15px; text-align: left; border: none; margin: 0px;}
.LeftMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul {margin: 1.0em 0 0 10.35em;}
.PopupMenu ul.AspNet-Menu {width: 100%; z-index: 500;}
.PopupMenu ul.AspNet-Menu ul {left: 0; top: 100%; z-index: 501;}
.PopupMenu ul.AspNet-Menu ul ul {top: -0.3em; z-index: 502;}
.PopupMenu li.AspNet-Menu-Leaf a, /* leaves */
.PopupMenu li.AspNet-Menu-Leaf span {background-image: none !important;}
.PopupMenu ul.AspNet-Menu li {/* width: 1em; */}
.PopupMenu ul.AspNet-Menu li a {color: #000000; height: 12px; width: 16px; text-align: center; font-size: 9pt;}
.PopupMenu ul.AspNet-Menu li span {cursor: pointer; color: #000000; height: 12px; width: 16px; background: transparent url(../Images/menu_popup2.gif) center center no-repeat; text-align: center; font-size: 9pt;}
.PopupMenu ul.AspNet-Menu li:hover, 
.PopupMenu ul.AspNet-Menu li.AspNet-Menu-Hover {background-color: #f0f0f0;}
.PopupMenu ul.AspNet-Menu li:hover a, .PopupMenu ul.AspNet-Menu li:hover span {}
.PopupMenu ul.AspNet-Menu li.AspNet-Menu-Hover a, .PopupMenu ul.AspNet-Menu li.AspNet-Menu-Hover span {color: #ffffff;}
.PopupMenu ul.AspNet-Menu li ul li {margin: 0px;}
.PopupMenu ul.AspNet-Menu li ul li:hover, .PopupMenu ul.AspNet-Menu li ul li.AspNet-Menu-Hover {background-color: #D1E9FF; background-image: none; margin: 0px;}
.PopupMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul {border: solid 1px #3263BD; background-color: #FFFFFF;}
.PopupMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li a {width: 160px; padding: 6px 15px 6px 15px; text-align: left; border: none; margin: 0px; color: #000000;}
.PopupMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul {margin: 1.0em 0 0 10.35em;}