<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir3AF33D0F8896F86C6C4DDF6A81369803" Name="EnterpriseServer" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="EnterpriseServerFiles">
            <Component Id="cmpA228F31FD3104EE6B79D9D5E2F04747F" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{A77FE6E3-D03D-4423-9880-1E720E3FD9D7}">
                <File Id="fil3EB3988EE3CD90C3592DCF31D75B23EB" KeyPath="yes" Source="!(wix.BUILDESPATH)\Default.aspx" />
            </Component>
            <Component Id="cmp8A45C9A221F56B20711E3946DDDDDD6E" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{1B40D1D6-EA57-4901-89D7-F3874779BB93}">
                <File Id="fil5B8D67F80B1D865AA87CADF46BA5AE6E" KeyPath="yes" Source="!(wix.BUILDESPATH)\ecServiceHandler.asmx" />
            </Component>
            <Component Id="cmp47AFA2C084D21DCAF47C446972664B52" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{EB2BB6A9-9715-446B-972C-9D90616A3841}">
                <File Id="fil779796D1059AE686EB1D8A2E29729370" KeyPath="yes" Source="!(wix.BUILDESPATH)\ecStorefront.asmx" />
            </Component>
            <Component Id="cmp112AC285EAA13AC340F7B0949A824BEA" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{C2F515EB-B5AF-4183-8636-07F068946626}">
                <File Id="filCA09EAF3F336C40E677D083E1F68D335" KeyPath="yes" Source="!(wix.BUILDESPATH)\ecStorehouse.asmx" />
            </Component>
            <Component Id="cmp461DABD08D7EEC148EA8943F1DE681E6" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{4CDCD11D-F961-49D4-96D9-884D63A7A3D6}">
                <File Id="fil49228472463128997040A49103EC5FA7" KeyPath="yes" Source="!(wix.BUILDESPATH)\esApplicationsInstaller.asmx" />
            </Component>
            <Component Id="cmpA906E16B0CA0454CE81B0D18F03FB716" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{76C7C9E6-B6CA-4904-8354-2F18FB936F46}">
                <File Id="filDBD7CBD20BDE9875CC8467DFCABB9E0A" KeyPath="yes" Source="!(wix.BUILDESPATH)\esAuditLog.asmx" />
            </Component>
            <Component Id="cmp477D7E8B36F1EBF2B5A982A6592F1EFF" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{28264766-2640-40AB-9503-CC7A86327892}">
                <File Id="filFAE9C8A3162722BADB39E10D2552C975" KeyPath="yes" Source="!(wix.BUILDESPATH)\esAuthentication.asmx" />
            </Component>
            <Component Id="cmpC7B6E3DC4F0BC0176EFF5924F53F43D4" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{9C9A53E9-E209-4768-840E-B7D22CD034FB}">
                <File Id="filF63A47B46DB438525BDC3D3B49B9AD87" KeyPath="yes" Source="!(wix.BUILDESPATH)\esBackup.asmx" />
            </Component>
            <Component Id="cmp8753237D9DE3F0A3B7AE13E611796C7D" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{069E8725-76E2-491A-BE39-54817426B674}">
                <File Id="fil6E38105C5D100F41E7D8A999583BF06D" KeyPath="yes" Source="!(wix.BUILDESPATH)\esBlackBerry.asmx" />
            </Component>
            <Component Id="cmpA8E9E438329D1C5E761066B7275BE11B" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{687F299C-06FE-4AF6-ADCE-08D822370D25}">
                <File Id="fil17AA3A4C70AB08CE2E166D3EF48BDC8E" KeyPath="yes" Source="!(wix.BUILDESPATH)\esComments.asmx" />
            </Component>
            <Component Id="cmp60C1A230ED89F493A50C0F786D09653B" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{718E55EE-D8CC-4134-82BF-4D03811A8C72}">
                <File Id="filF4C9EC2D78012E66ED5FE0E88AD86EE7" KeyPath="yes" Source="!(wix.BUILDESPATH)\esCRM.asmx" />
            </Component>
            <Component Id="cmp43A7F3F653264A932431071BA31E8B29" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{EE3D69AB-C570-44D6-9C68-B01D8DFC2610}">
                <File Id="fil8DF66A791DB8B55B62E16F6D8EC2ACA3" KeyPath="yes" Source="!(wix.BUILDESPATH)\esDatabaseServers.asmx" />
            </Component>
            <Component Id="cmp8B2A67A98A5D5A33599DE01F9B14E2B1" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{65A046FD-238B-4F00-A1A9-011073E96F5A}">
                <File Id="filDA89C0F3FFA2478A1003F4A09466BA1E" KeyPath="yes" Source="!(wix.BUILDESPATH)\esEnterpriseStorage.asmx" />
            </Component>
            <Component Id="cmp062EB4DE8F957AFFFAF886F3DB0118F8" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{6161386B-BB0D-4C50-BA54-85654A919387}">
                <File Id="filD779D60363D5293061BF7E078996679E" KeyPath="yes" Source="!(wix.BUILDESPATH)\esExchangeServer.asmx" />
            </Component>
            <Component Id="cmp5A9AF50889EA7E8BBB72F560E07223FD" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{840EE603-BF8F-4166-8C8E-D5B25B5C9528}">
                <File Id="fil9E709B81A62F055D6321DEAF884A4B87" KeyPath="yes" Source="!(wix.BUILDESPATH)\esFiles.asmx" />
            </Component>
            <Component Id="cmpC9CE15DF0DA6CD7EDCAA791117D69771" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{2BD84BD1-BDF4-4A5D-86DF-70F38D836EB8}">
                <File Id="fil9FED44DAFE01B94898B0D8E952844596" KeyPath="yes" Source="!(wix.BUILDESPATH)\esFtpServers.asmx" />
            </Component>
            <Component Id="cmpAA6D1DA8620D81A899DA5C95DC141DEC" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{5698D8FB-159D-4432-85D0-1860F307F0B9}">
                <File Id="fil17D15596DF379DD3B4401CE2545244F2" KeyPath="yes" Source="!(wix.BUILDESPATH)\esHeliconZoo.asmx" />
            </Component>
            <Component Id="cmp86F5E410E3C6D3FFB8704D69332AABFE" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{7CBD806D-9289-4D4A-8009-9DBE823279BF}">
                <File Id="fil5B52831F49FA99F937D23EEBC60D31F9" KeyPath="yes" Source="!(wix.BUILDESPATH)\esHostedSharePointServers.asmx" />
            </Component>
            <Component Id="cmp995B4E06F29BAD41869407AA55D82F74" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{46A75411-938E-470F-8083-53986B4BE3BF}">
                <File Id="fil80539B46558BA5E71E0A39946938291B" KeyPath="yes" Source="!(wix.BUILDESPATH)\esImport.asmx" />
            </Component>
            <Component Id="cmp8D714266B02DF6407B0CEA53DFBC302B" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{10549375-6B3E-414A-A40B-EAE4FC36B277}">
                <File Id="fil5305C8E98FF59DA733D38CF9FA25819F" KeyPath="yes" Source="!(wix.BUILDESPATH)\esLync.asmx" />
            </Component>
            <Component Id="cmp4D07CE384C0CC8AA7F0895B36B41E95A" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{37038E24-1592-479D-BD57-944C4D8BB0E6}">
                <File Id="fil5D47C4A4E83FAE03BB9BBA294A339D32" KeyPath="yes" Source="!(wix.BUILDESPATH)\esMailServers.asmx" />
            </Component>
            <Component Id="cmpA383A27D6C33228A9491F81D50AE4663" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{5815B100-F7D8-483A-8797-D0A0D62525C9}">
                <File Id="fil8CAE097C96753427FACBD0C4D549F566" KeyPath="yes" Source="!(wix.BUILDESPATH)\esOCS.asmx" />
            </Component>
            <Component Id="cmp0047F8212D10388439072674B06B6AD4" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{B213EEDB-887E-4970-875F-A4C6D21266A4}">
                <File Id="fil32E03C1BFD60E40551CC0343EC3E8959" KeyPath="yes" Source="!(wix.BUILDESPATH)\esOperatingSystems.asmx" />
            </Component>
            <Component Id="cmp9F21A7E10CD053CC56B9EDFB97BAA456" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{C5214961-0139-4FEA-9F66-35C307C7EF67}">
                <File Id="fil8083A74987DFAB63E3E1C22B472D44EA" KeyPath="yes" Source="!(wix.BUILDESPATH)\esOrganizations.asmx" />
            </Component>
            <Component Id="cmp178CE3BDD16E6582167ACA1FDF18A50C" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{2E26FBC0-DA28-4760-B453-1C5A52E79953}">
                <File Id="fil754C3147973D88D7A989670541073959" KeyPath="yes" Source="!(wix.BUILDESPATH)\esPackages.asmx" />
            </Component>
            <Component Id="cmpEFD4F4BA6CC27DA364AFC5FBAE22A152" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{7958AB28-D260-4980-A85D-AD2995C2D7D1}">
                <File Id="fil40A5CB69D3EE633975B6758547282753" KeyPath="yes" Source="!(wix.BUILDESPATH)\esRemoteDesktopServices.asmx" />
            </Component>
            <Component Id="cmpAA8B96EB448FB7EF311CFDCB698E633F" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{836FE4DB-D7CF-4E51-ADF4-51AB9FC5EBAF}">
                <File Id="fil65D3985C8A3497429788F7EE62C5A9A3" KeyPath="yes" Source="!(wix.BUILDESPATH)\esScheduler.asmx" />
            </Component>
            <Component Id="cmpB22F785EDF4224854C30FD7416B2EC2A" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{68974FC2-10B5-4E94-946C-797675A7917C}">
                <File Id="fil1E0DBBF60DA939D69A982606844E352F" KeyPath="yes" Source="!(wix.BUILDESPATH)\esServers.asmx" />
            </Component>
            <Component Id="cmpB5E989CD2695546D64BC8DDD961AC479" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{A513EFB3-B36C-4611-8A65-582262F5830E}">
                <File Id="fil19611EB3E1F1C29BC8B8984F862F29AA" KeyPath="yes" Source="!(wix.BUILDESPATH)\esSharePointServers.asmx" />
            </Component>
            <Component Id="cmp982208DE77B7BE58F052BF2F5B7E940C" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{0EAF5D0A-0370-43EA-8640-00283DD82AA5}">
                <File Id="filD90C72ABBE462CF0B803E47AD77077E3" KeyPath="yes" Source="!(wix.BUILDESPATH)\esStatisticsServers.asmx" />
            </Component>
            <Component Id="cmp17B2DF843BFF3D8C4ABB41481616C25B" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{3812E7DA-5D3F-479A-9391-5BF8D2F164CE}">
                <File Id="filB41EE063CADD3C183025FD161FAD9E6C" KeyPath="yes" Source="!(wix.BUILDESPATH)\esSystem.asmx" />
            </Component>
            <Component Id="cmp43706C621C95903AF8BF4099EA3AC0C2" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{905F81DF-FF23-4C2A-B3AE-D9B146627341}">
                <File Id="filEB3B4C38C64D624E1333FA6510E8F582" KeyPath="yes" Source="!(wix.BUILDESPATH)\esTasks.asmx" />
            </Component>
            <Component Id="cmp9C4DA170E26D2F7CDDB6F912EA4EDD65" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{02A99D06-7563-43F2-9958-A7385C36DD28}">
                <File Id="fil52D06442D8E00705D32A452215E31120" KeyPath="yes" Source="!(wix.BUILDESPATH)\esUsers.asmx" />
            </Component>
            <Component Id="cmp54B6A0CC38FC1A13ECD57025A0461FF2" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{618B7AA0-3D14-472A-9EA9-B383C2F8291C}">
                <File Id="fil6810E0DB8A30608AD9633161564F3850" KeyPath="yes" Source="!(wix.BUILDESPATH)\esVirtualizationServer.asmx" />
            </Component>
            <Component Id="cmpE00697377983360C3088563992D918DC" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{2A83F5DC-6B7B-489D-927C-8FD9C50266B5}">
                <File Id="fil5F772DD5D2C6708AA06E9916E16F62A4" KeyPath="yes" Source="!(wix.BUILDESPATH)\esVirtualizationServerForPrivateCloud.asmx" />
            </Component>
            <Component Id="cmpBC04B01C3C20FB08BB5DA8943B30BD4D" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{2C6F5E17-778F-4338-9035-FDFE7089F052}">
                <File Id="fil097E214B8D93866CDD61EE1F3C5B1164" KeyPath="yes" Source="!(wix.BUILDESPATH)\esWebApplicationGallery.asmx" />
            </Component>
            <Component Id="cmp895058C18F44AB5AC0880F8689A5FBBE" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{81AE1CE9-0F10-49E7-9EB6-403C4C5C4223}">
                <File Id="fil5E941E6DA74F8512B53B4AF1B3244B7E" KeyPath="yes" Source="!(wix.BUILDESPATH)\esWebServers.asmx" />
            </Component>
            <Component Id="cmpBDDFB5BE83B8E84590F0FD9AF07EB98C" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{9411D427-3E17-4D49-84A3-3F3A1B3F8475}">
                <File Id="fil88C0377E7D994EC375EB7AE16A55B4BF" KeyPath="yes" Source="!(wix.BUILDESPATH)\Global.asax" />
            </Component>
            <Component Id="cmpC6DF240A63C5B61E88F16D261CB18987" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{584CCF83-2A93-495D-9C4A-7B602021DC4B}">
                <File Id="filBC970880B9655885FEBFC1DEF50362EE" KeyPath="yes" Source="!(wix.BUILDESPATH)\SystemEventHandlers.config" />
            </Component>
            <Component Id="cmp3CEA93F93174C80F89FDD54B3AE39016" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{AA042200-D231-430C-9182-FBA3739974E2}">
                <File Id="fil2D343339DE5E80B82EC4EF4C63BFDF55" KeyPath="yes" Source="!(wix.BUILDESPATH)\TaskEventHandlers.config" />
            </Component>
            <Component Id="cmp7DC89D2B7FDD89DAAC9AF38624C5B9D3" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{7768841F-9F8D-4AEF-A749-94D2AE45C180}">
                <File Id="fil0EEDD1E384A2A1E3986BFA3910F06D39" KeyPath="yes" Source="!(wix.BUILDESPATH)\Web.config" />
            </Component>
            <Component Id="cmp03FA079EA8C42B8ED697E18CB8017C3E" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{1EBDAFD4-252A-4787-AA8F-F4E79DD737E2}">
                <File Id="filA545A2A5093EFCDDEF9289D7C9CE19F4" KeyPath="yes" Source="!(wix.BUILDESPATH)\Web.config.orig" />
            </Component>
            <Component Id="cmpDDFF6C7B5B6AA514E007C0FEFDC7BEFD" Directory="dir3AF33D0F8896F86C6C4DDF6A81369803" Guid="{2625E693-7549-436E-83C8-150188E35E69}">
                <File Id="filA44B1EC229C9FB8C2DBB7D24370D4778" KeyPath="yes" Source="!(wix.BUILDESPATH)\WsePolicyCache.Config" />
            </Component>
            <Component Id="cmpEE001265306648D9270F88D4EE18ACC1" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{D3FD5738-A150-47C1-A5E1-39F371474B70}">
                <File Id="fil31F499D7F91A27BD4437F4B5F56EB936" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\Ionic.Zip.Reduced.dll" />
            </Component>
            <Component Id="cmp5205DA0E792F078FEB879E0DDBD09CB2" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{9D377E17-747F-4143-8853-0DEBE72BEAB8}">
                <File Id="fil4E88C3BD24664C607A6190C9CD2CF6E1" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\IPAddressRange.dll" />
            </Component>
            <Component Id="cmp7E935113D272D2A026F6C9E51BA0967B" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{B43F0634-EF46-4D99-B5F6-94790362ECAB}">
                <File Id="fil525D81802888E8844934B597D409939E" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\Microsoft.Web.Services3.dll" />
            </Component>
            <Component Id="cmp0EDFF1380C1E99D36276D2F9FE271C8D" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{7E7588CC-C902-4F0F-BDA5-2DC2226ADA23}">
                <File Id="fil2E76A9A8F1DFCDC9A5F11BF2D0FA0273" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Common.Utils.dll" />
            </Component>
            <Component Id="cmpFF43F88525B0EF50EC97A931807A692F" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{3C14BF79-AEAA-4994-BA44-4BF3342ABF34}">
                <File Id="fil2D6C60C562DD5B5128EAB952BC6953AD" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.EnterpriseServer.Base.dll" />
            </Component>
            <Component Id="cmp1F6E12C3FC5EE38CA84F66FF2EF4862F" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{91D2F141-8CC4-4373-812A-191A865A6357}">
                <File Id="fil52EDB49DF1113CB7529E4BA398D29D22" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.EnterpriseServer.Code.dll" />
            </Component>
            <Component Id="cmp3BAF6F2D46459FFAB7FF9383E836DE82" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{F6D66894-0223-4C74-AFBB-2A700C4EE60F}">
                <File Id="fil40FB4998A85F5252D10C7E46252E2FD4" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.EnterpriseServer.dll" />
            </Component>
            <Component Id="cmpCE096081E088DF39E1F5B01C22D5804D" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{933FBF7E-61BC-4FDB-BCC0-408408B2083E}">
                <File Id="fil07CA85783299F5457E9D2E50921DE900" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.EnterpriseServer.dll.config" />
            </Component>
            <Component Id="cmp30436EB4A807E28F85561F6D5F111F05" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{1C6DDECE-3DE9-46C3-A313-86B2E1F1E978}">
                <File Id="filCB2890EBEEDF1D5A598BC6FAAE7A3D94" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.2Checkout.dll" />
            </Component>
            <Component Id="cmp6F897C54BE487A449C4BA313D2D52611" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{D9AA4484-F2E3-4F55-8AD9-5393CF4DB63D}">
                <File Id="filFDA69F8626941508ADDF260FC764CABA" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.AuthorizeNet.dll" />
            </Component>
            <Component Id="cmp27E8DAC11CD9AE33AABA033810E86C34" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{4BCE536D-0D59-4E98-99CD-EF9116A36187}">
                <File Id="fil4C243EB2A2AEB8559E8F5320978EA3CE" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.Enom.dll" />
            </Component>
            <Component Id="cmpF811960C554A5C93432EDB6E0B8CDF34" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{EF577C6A-8B33-41CF-8CA3-AD5586A90F63}">
                <File Id="fil8DA350DA8742234025E2D335052A8404" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.OfflinePayment.dll" />
            </Component>
            <Component Id="cmpD47C3991B92C22D68CE1329B88729352" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{D486AB5A-3B66-4DD6-8AF3-D9D28EDE9174}">
                <File Id="fil350C12D2164B7D834355D75902DE27E9" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.OfflineRegistrar.dll" />
            </Component>
            <Component Id="cmpB7980C90EC8111A7A2BFACA99A364908" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{61A531F6-234E-47E4-A80C-C1904744468B}">
                <File Id="filF724352A923A5DC5E615C4F9350860DA" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.PayPalPro.dll" />
            </Component>
            <Component Id="cmp60EDD2B3F929CBBC44051500533A3EFE" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{BE8F5CA4-D63C-4FB9-A2AC-298A651B7313}">
                <File Id="filF15AF8ABEF60E56FD7F58C3402E20EF8" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Plugins.PayPalStandard.dll" />
            </Component>
            <Component Id="cmp8BCD8EFBCF6A578E430D06BABE287A04" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{66E3ED5D-32FD-4500-A9EE-933DA3A2CEDA}">
                <File Id="fil9F9579A433A38137EFDFB419CCB94705" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Providers.Base.dll" />
            </Component>
            <Component Id="cmp11FBD5766CC6CBF68B4256C61D37716F" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{CA2B3264-364A-4E12-9EE9-408C237289B5}">
                <File Id="fil8E76DA36BC73CA258AAD4F0181042D77" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.SchedulerService.exe" />
            </Component>
            <Component Id="cmp29FB8C71FA7DC9CA25AD1AEE0FC8E256" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{827DA72F-16AC-4A0A-9626-F2AD7D61B30C}">
                <File Id="fil9824393F25772145B9CC6D1D94F59ECC" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.SchedulerService.exe.config" />
            </Component>
            <Component Id="cmpF0264ACAAC291D9769B4F80FB28170EF" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{6AD1BB17-6882-4DFD-8600-F5061B8EC19C}">
                <File Id="fil45394BCA93BB6FC19AB20FB488A13913" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Server.Client.dll" />
            </Component>
            <Component Id="cmpC05DEA4195A38DAE0732958D9C790F1F" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{8477BE93-BACE-4795-A6C2-712ED28E7FA7}">
                <File Id="filD7F6769E1280A0D3BD29A21AE5DB323F" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Templates.dll" />
            </Component>
            <Component Id="cmp3354C5D2B3F2B72ACFFA3DBB63C67506" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{D4543ABA-719D-4794-8B42-9DB3580F00D4}">
                <File Id="fil5DD6CF31A3DA4E9258159FD3A6033186" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WebsitePanel.Whois.dll" />
            </Component>
            <Component Id="cmp11B18CB39842568FAF4C33D6A019588A" Directory="dirFAA1738446FD2E9BF7BFA765E893D8EA" Guid="{4605CC68-6DF5-433E-97E0-758F484BBB51}">
                <File Id="filF94F5672841DB6918B7BA7CDB78662CD" KeyPath="yes" Source="!(wix.BUILDESPATH)\bin\WhoisClient.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AF33D0F8896F86C6C4DDF6A81369803">
            <Directory Id="dirFAA1738446FD2E9BF7BFA765E893D8EA" Name="bin" />
        </DirectoryRef>
    </Fragment>
</Wix>