<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLSERVERFOLDER">
            <Directory Id="dirFE040D7A5771FED5DD77B7A4BED10E7F" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ServerFiles">
            <Component Id="cmp96DED412EC1A0669CB1EBFC35932E93E" Directory="INSTALLSERVERFOLDER" Guid="{2749D50D-FD3A-4391-8314-88904D0811FF}">
                <File Id="filB926634A8138464D8559D474F7C15209" KeyPath="yes" Source="!(wix.BUILDSPATH)\AutoDiscovery.asmx" />
            </Component>
            <Component Id="cmp63DCCD43AB534E8330F8B6984D54BCE3" Directory="INSTALLSERVERFOLDER" Guid="{6AE683C2-94C6-4521-8DE5-4FF3880E149C}">
                <File Id="filB2A8C91FC26D98653D2BE1DC12FE6C35" KeyPath="yes" Source="!(wix.BUILDSPATH)\BlackBerry.asmx" />
            </Component>
            <Component Id="cmp48930429FE02E9320F1C89B35CDBC289" Directory="INSTALLSERVERFOLDER" Guid="{DE0B570F-2821-40DB-BFA2-68FDF87F0BE3}">
                <File Id="fil62C838302A2E885DE950B0F7F5F25DE2" KeyPath="yes" Source="!(wix.BUILDSPATH)\CRM.asmx" />
            </Component>
            <Component Id="cmp8EDD566F3B8E6A2628B81A1DDF643E63" Directory="INSTALLSERVERFOLDER" Guid="{3072D669-553A-4C31-BA42-DCC3C2FCD5CA}">
                <File Id="filCAC386A1837F77C802D8E416A1B3802B" KeyPath="yes" Source="!(wix.BUILDSPATH)\DatabaseServer.asmx" />
            </Component>
            <Component Id="cmp3C73293D8E60BEACC4600440DE85514C" Directory="INSTALLSERVERFOLDER" Guid="{8845CF9B-904E-4366-A896-03603A334653}">
                <File Id="filF3FF68EEFC53A97A90C4A37EA9FDC3AA" KeyPath="yes" Source="!(wix.BUILDSPATH)\Default.aspx" />
            </Component>
            <Component Id="cmpC093A71A50345DD175FC6A71AACB00C2" Directory="INSTALLSERVERFOLDER" Guid="{A39D1FF8-7B35-4CCD-86ED-7957F3D57460}">
                <File Id="fil0A152D8E852A19C966DD73DAFD2A181C" KeyPath="yes" Source="!(wix.BUILDSPATH)\DNSServer.asmx" />
            </Component>
            <Component Id="cmpBABF4FFFC759CED5A9606023F55F378D" Directory="INSTALLSERVERFOLDER" Guid="{33B30C86-686E-4DCE-A2B5-EF4DD844DD64}">
                <File Id="fil40F7159D8E7A786994DA7432718341CD" KeyPath="yes" Source="!(wix.BUILDSPATH)\EnterpriseStorage.asmx" />
            </Component>
            <Component Id="cmpEC8263252ABD67BFDF9721AB87B39BA5" Directory="INSTALLSERVERFOLDER" Guid="{A77CB600-FCCB-40AD-8D00-399BFDD0F685}">
                <File Id="fil76876D97E20E425BC7F16F618E753949" KeyPath="yes" Source="!(wix.BUILDSPATH)\ExchangeServer.asmx" />
            </Component>
            <Component Id="cmp6746D2022E8E7DD850E397BA7C978EC6" Directory="INSTALLSERVERFOLDER" Guid="{E98BF6D3-C56B-46A1-ADFF-C94C99462BF2}">
                <File Id="filBF0AF92BE768A2CBAE35B72158FD7356" KeyPath="yes" Source="!(wix.BUILDSPATH)\FTPServer.asmx" />
            </Component>
            <Component Id="cmp09C86A4BE06A7D43B7DD384C21575305" Directory="INSTALLSERVERFOLDER" Guid="{9EC769ED-231F-4600-B10F-DE6342A7976F}">
                <File Id="fil61BA44AC8127B44683B7F0C15986CFB5" KeyPath="yes" Source="!(wix.BUILDSPATH)\Global.asax" />
            </Component>
            <Component Id="cmpF942A5A78A6B3711F175A5CB3180BDA1" Directory="INSTALLSERVERFOLDER" Guid="{9F7FC09E-4C31-4D9F-B3A1-1E2C32B62115}">
                <File Id="fil5AF665BD8AE154094178754575352117" KeyPath="yes" Source="!(wix.BUILDSPATH)\HeliconZoo.asmx" />
            </Component>
            <Component Id="cmp2DB0CBC9ED91615C7B8083BE3B0C86D8" Directory="INSTALLSERVERFOLDER" Guid="{40A23306-B026-4B14-A017-EB5B199D2B81}">
                <File Id="filC8F755A8CF3B17D0DE5FCD854E7F3B48" KeyPath="yes" Source="!(wix.BUILDSPATH)\HostedSharePointServer.asmx" />
            </Component>
            <Component Id="cmp4C3E6D8D4B96BE1CD0196869D14FB245" Directory="INSTALLSERVERFOLDER" Guid="{07B6DD0C-C7A1-4F1D-81F7-AEC93ADBA59F}">
                <File Id="fil660F7518B5488A7DC066BAF177DDEFC8" KeyPath="yes" Source="!(wix.BUILDSPATH)\LyncServer.asmx" />
            </Component>
            <Component Id="cmp306CB2383A2A77A41C74C676B7811B47" Directory="INSTALLSERVERFOLDER" Guid="{A8354B8F-C221-4976-A6AD-88CD3B25C379}">
                <File Id="fil52F43BB29FFD7B874CB9732B72671C0D" KeyPath="yes" Source="!(wix.BUILDSPATH)\MailServer.asmx" />
            </Component>
            <Component Id="cmpDB9D3FEB28BCAE6FDF0BE2AEF39C999B" Directory="INSTALLSERVERFOLDER" Guid="{03D03F05-DD5A-4D15-AEC5-55F2CA4FF5DD}">
                <File Id="filD57D1DCC138248465285E1F4923C3FD9" KeyPath="yes" Source="!(wix.BUILDSPATH)\OCSEdgeServer.asmx" />
            </Component>
            <Component Id="cmp910629BAC7808EF349E7003C542C08E7" Directory="INSTALLSERVERFOLDER" Guid="{069C5EC0-64DB-4D37-BCE9-9F9F7873CFA6}">
                <File Id="filEB0E03B52AE3C28E18E512B370C1BBFF" KeyPath="yes" Source="!(wix.BUILDSPATH)\OCSServer.asmx" />
            </Component>
            <Component Id="cmp16A31FD89793E3A4C3D070B3B93ACCA9" Directory="INSTALLSERVERFOLDER" Guid="{785D755F-1093-4BBE-AB8D-14C95B75E524}">
                <File Id="filE1118B09B103A0E647F1AAE7E72F4087" KeyPath="yes" Source="!(wix.BUILDSPATH)\OperatingSystem.asmx" />
            </Component>
            <Component Id="cmpFA5D68FB420FDEE4098A69DD50F6AB3E" Directory="INSTALLSERVERFOLDER" Guid="{E92D41FD-1FEA-43B3-AD9D-2BDCC8D902DD}">
                <File Id="fil6B0D1DDFDBA6AD698A675110C95379FF" KeyPath="yes" Source="!(wix.BUILDSPATH)\Organizations.asmx" />
            </Component>
            <Component Id="cmp1F38C4981EFD17118857FFFAC10371C8" Directory="INSTALLSERVERFOLDER" Guid="{CFC61E5E-3347-48C1-B8E5-F10CF664288C}">
                <File Id="fil0D59B72E8BA7341F46B3DDC4D964C321" KeyPath="yes" Source="!(wix.BUILDSPATH)\RemoteDesktopServices.asmx" />
            </Component>
            <Component Id="cmp21B566F180DADD0183C0353A687F6FDE" Directory="INSTALLSERVERFOLDER" Guid="{259E067C-DAE6-40B6-9E77-1CAE16162EDA}">
                <File Id="filB81FD249DAA39D361B2A0B6687F4F0F3" KeyPath="yes" Source="!(wix.BUILDSPATH)\ServiceProvider.asmx" />
            </Component>
            <Component Id="cmp3AA7B99FF832F3B7E9A5808320B0FFE1" Directory="INSTALLSERVERFOLDER" Guid="{79BD5392-ACC4-4091-B1C0-5F1A81134556}">
                <File Id="fil8FFE5F6C7A39E2A98052559F2C4BCB40" KeyPath="yes" Source="!(wix.BUILDSPATH)\SharePointServer.asmx" />
            </Component>
            <Component Id="cmp92F0443BC664FDB758F4B995F00C9E43" Directory="INSTALLSERVERFOLDER" Guid="{7B2F4D34-DE62-4AF4-8AC4-A7F08294DEC0}">
                <File Id="fil3D620C4D77E89EEB1758004E5536C605" KeyPath="yes" Source="!(wix.BUILDSPATH)\StatisticsServer.asmx" />
            </Component>
            <Component Id="cmp35F67952E66E5E84604457EC472D58C8" Directory="INSTALLSERVERFOLDER" Guid="{6A148D4F-49A9-4934-9D14-09E2BA60BC33}">
                <File Id="fil8CE9584A7F2FEB79B4FC404F827FD6E7" KeyPath="yes" Source="!(wix.BUILDSPATH)\VirtualizationServer.asmx" />
            </Component>
            <Component Id="cmp033A84582ECFB7373515A77AE2A2CA16" Directory="INSTALLSERVERFOLDER" Guid="{8D988BE1-5A81-46F2-8D41-E527796FE26A}">
                <File Id="fil9C92DC5A0309F783F8884E9652AB5E8D" KeyPath="yes" Source="!(wix.BUILDSPATH)\VirtualizationServerForPrivateCloud.asmx" />
            </Component>
            <Component Id="cmp5A55A21753E524E255CC690E7E70F3CF" Directory="INSTALLSERVERFOLDER" Guid="{2A39FCC5-52C7-489A-A74D-8D03407F41F0}">
                <File Id="fil0F382EB2E8489D90828EC5F77409E57D" KeyPath="yes" Source="!(wix.BUILDSPATH)\Web.config" />
            </Component>
            <Component Id="cmp527BAE5A0DD4D756EB186D7D6D3F7E0A" Directory="INSTALLSERVERFOLDER" Guid="{489AF6FB-2115-4AFD-AAD5-3B53C41B707A}">
                <File Id="fil1940908EBFCA3C071C2BB68540F2B8E5" KeyPath="yes" Source="!(wix.BUILDSPATH)\WebServer.asmx" />
            </Component>
            <Component Id="cmp3B7B3671DB341EE5B0EAA7AA1FF1540C" Directory="INSTALLSERVERFOLDER" Guid="{FC3CFE03-F69D-4CEB-B8C5-4306C041B412}">
                <File Id="fil8037802C78CCC9C56D336FAF8651017F" KeyPath="yes" Source="!(wix.BUILDSPATH)\WindowsServer.asmx" />
            </Component>
            <Component Id="cmp2CB0FF22D207EBE0AAE9670986C7C64A" Directory="INSTALLSERVERFOLDER" Guid="{4F9389E8-99EF-4D1F-B1C9-AE98EB75A4C8}">
                <File Id="fil86781B5872C7AFF39512F3DC4F983251" KeyPath="yes" Source="!(wix.BUILDSPATH)\WsePolicyCache.Config" />
            </Component>
            <Component Id="cmpC637B58C5FFF410A8E4C2BE718BBEDD9" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{03C58540-C0FA-45FC-813E-7E49BFFA65FF}">
                <File Id="filA2666387782AEE09B82A53BE3E469295" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Ionic.Zip.Reduced.dll" />
            </Component>
            <Component Id="cmp7B741F3B7DB42D0193CEAFB0813A819C" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{FE16FD52-2665-49B8-82C0-141034024B3B}">
                <File Id="filF0E4FE856FD7D18B16E3D53385083F22" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.Practices.EnterpriseLibrary.Caching.dll" />
            </Component>
            <Component Id="cmpBF017B6DDBC7DE0627670A52CA32C8D9" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{ABDBA8DA-2E54-4AAE-A81B-C944B0237FD8}">
                <File Id="filA6B23F941E4184964643B4DA5E6980B4" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.Practices.EnterpriseLibrary.Common.dll" />
            </Component>
            <Component Id="cmp5EF44AD73F328024CA2CBA6B38BB2AFA" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{2A078BCE-8114-4D28-B13C-836A4C1B77B9}">
                <File Id="filDA2ECC971C160878E26148C68ACECE82" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.Practices.ObjectBuilder.dll" />
            </Component>
            <Component Id="cmpCE54D375F77874621EDDB0A4940EB9E6" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{60440402-394F-4674-92E3-D2D4DA35BA68}">
                <File Id="fil29B93179D8635CD59302BFCB051D86DD" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.SharePoint.dll" />
            </Component>
            <Component Id="cmp2686283674A773D30617C99B8FC52DEB" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{94E65151-4D52-453C-BD52-60120D73EE65}">
                <File Id="fil85403E8F62C0CF28016EB380EF5888D0" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.Web.Deployment.dll" />
            </Component>
            <Component Id="cmpBFEB09F79738319DD8854330EB839860" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{999588FA-8282-428A-AAF3-19CE0C03136A}">
                <File Id="fil7A107E0E86AFB962B7D2018F96A2FBAF" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.Web.PlatformInstaller.dll" />
            </Component>
            <Component Id="cmpD2BAACE827B05F57348AEE581F1002BA" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{8D4D1934-3264-404D-BC88-FBDD0D58C0FF}">
                <File Id="fil8EC75244E12F566A35ABCEA075D25971" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Microsoft.Web.Services3.dll" />
            </Component>
            <Component Id="cmpBBCCF5AAA10D0EF2A86706EB38FE2A76" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{9F8346FB-2753-4B54-94E7-8962F4732CB2}">
                <File Id="fil450A02E6C36019B5EB20FFC8719D1B5A" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Base.dll" />
            </Component>
            <Component Id="cmp1515283D9C191E96AC80C19F89624484" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{B0C5ABE2-F32E-4199-AC35-754EB4649B8C}">
                <File Id="fil06C448136A3D63B9C801A578BECEB657" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Database.MySQL.dll" />
            </Component>
            <Component Id="cmp95EA51E0D1B02835C3A745D2A234B4D1" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{BDF3654C-11B6-4B7B-AF51-26C2CC2676F3}">
                <File Id="fil14526A4B2779F18C354953674E3243DC" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Database.SqlServer.dll" />
            </Component>
            <Component Id="cmpA332F87839F8A0555ADB89089F952EE4" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{5B2E011A-2F86-4ED0-8736-D52A698EFAEA}">
                <File Id="fil0D70139453C6D008A6812D80E4A60A1E" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.DNS.Bind.dll" />
            </Component>
            <Component Id="cmp03DB823328F105704F7368A7884ECB1B" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{47C94CBD-1262-4730-AC94-B6BD5049C769}">
                <File Id="fil29EC8C959BD56E7D921A3C9C349B8A7D" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.DNS.MsDNS.dll" />
            </Component>
            <Component Id="cmp8013CAEACE4AE48717802BD85A2F326F" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{04E38CB6-3485-4245-BE37-A3672C78162A}">
                <File Id="filC6A5376B0A44A745BEA04FB4A5AB2626" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.DNS.Nettica.dll" />
            </Component>
            <Component Id="cmpB3AA0826476AF2ACC2AB245147A22BC2" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{7CDC1A00-60C0-4A62-A4C3-5295DCBF289B}">
                <File Id="fil678E64766BEF048B651ABC3419A63816" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.DNS.PowerDNS.dll" />
            </Component>
            <Component Id="cmpA1D452FC0569A74063D6BE2417476F29" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{E99CEBBF-2241-49F8-B2D1-DA081B639C09}">
                <File Id="fil9A3A403E4F95FA57DA84D560BF60B068" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.DNS.SimpleDNS.dll" />
            </Component>
            <Component Id="cmp6507EEDFDF4ADCC430EE41C14945F40C" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{6A78738C-34BD-4609-BCF6-870AD57C0B37}">
                <File Id="fil91917E9FBA2C4C30451AD41F69CF6EB6" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.DNS.SimpleDNS50.dll" />
            </Component>
            <Component Id="cmp905C0BAE44B2E88242B9973329CBF4B6" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{E1CDFCBA-F608-42A4-89BB-80763E2705C5}">
                <File Id="filC33ACD3FABEB60DF489A31FAC708083E" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.EnterpriseStorage.Windows2012.dll" />
            </Component>
            <Component Id="cmp9F4FDF79F1734A2143D3802D5187B25D" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{A501D0C7-4DB1-4999-9CB0-B7E6107B89C3}">
                <File Id="filFB7D4FF05D80FFF70AC5F00A36CF2EB7" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.FTP.FileZilla.dll" />
            </Component>
            <Component Id="cmpE02E95B1EB07113A26867DA24B42A27E" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{13490DCF-0F2E-4443-B6B7-D6D3FEB01EE1}">
                <File Id="fil034287C431D58A0A2887A315EBABC440" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.FTP.Gene6.dll" />
            </Component>
            <Component Id="cmp9289FE560AE048D24623B214F1D6DC91" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{D246C8FF-BD33-42AA-85AC-D7FC651FCE0F}">
                <File Id="fil652138C0629DC965870B068FB36CA409" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.FTP.IIs60.dll" />
            </Component>
            <Component Id="cmp5B92624363FC4444E67A6CE069B4A678" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{3DEC08D3-0774-4F68-833F-2CB98228CB3D}">
                <File Id="filEEE26B77994B26E68CF545745F727931" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.FTP.IIs70.dll" />
            </Component>
            <Component Id="cmp3A0C35665CCAEC2E26672C21E4EE8200" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{09A0AF2F-D1B8-438E-893D-8E56F3475CB1}">
                <File Id="fil353B036889A96E5981113A98376A396D" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.FTP.IIs80.dll" />
            </Component>
            <Component Id="cmp2495A7FAC5953B9B5EA581CEF304A00E" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{A0357BE9-C19D-46BE-ADE6-85858CD69C8A}">
                <File Id="fil9974B5EF932DE87359CAB6A73C676280" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.FTP.ServU.dll" />
            </Component>
            <Component Id="cmp8B59B4F33E3DAECEDFAB2E5A14917300" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{59A935FE-B746-4E8C-B990-09F323D28075}">
                <File Id="fil1BBD5C87DDE7F63DA09C857427384BD5" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.HostedSolution.dll" />
            </Component>
            <Component Id="cmpA888923B593C22476D796F9528A6F85E" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{9B378DD6-3076-4921-B912-364DC4F968BF}">
                <File Id="fil9420EA407752E6B19DAC2A82686C374A" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.AbilityMailServer.dll" />
            </Component>
            <Component Id="cmpCF68B3E2AC37C2C18EADE9091B711F74" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{502AA2BB-D309-48EF-B97E-B30A00E48968}">
                <File Id="fil28524A2B3EAA52BBDC052EB2145D4779" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.ArgoMail.dll" />
            </Component>
            <Component Id="cmp7FEDE73801DC1E58F00EC0FB2DBF41DD" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{A66827FE-C9EA-436F-83E1-F17119DD8F99}">
                <File Id="fil6926A82EFE13230A1029ADA37F3B275D" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.hMailServer.dll" />
            </Component>
            <Component Id="cmp568A5F5714FE855715F0768AFBC9E534" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{561D7B1F-AA3C-45EA-A5DE-BC87A40EB2B0}">
                <File Id="filB4BC4706797A99E1AD42680774C5EAAC" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.hMailServer43.dll" />
            </Component>
            <Component Id="cmp087F4389AB58E1F849684FB3BD1B0C33" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{A7A6DCAE-3A54-4C1F-8AEE-AFE6F893FD01}">
                <File Id="fil72B71156FDA4DF016DBC3A25EBAFB7BA" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.hMailServer5.dll" />
            </Component>
            <Component Id="cmpD1E8FAAC1C4B89E40C8A19742CD4BDB0" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{7B22F2D7-BD5C-4C43-8DE3-BE93634F5E19}">
                <File Id="fil671F0D630BEB8FE39C8A823383B531D4" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.MailEnable.dll" />
            </Component>
            <Component Id="cmp537FE354DD1E89AD52C01F4AFD11FF25" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{E398B224-CD21-48A7-8534-709E54B8E851}">
                <File Id="fil84746644F379BD1A44D89738E5E60D77" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.MDaemon.dll" />
            </Component>
            <Component Id="cmp9EF9EC8F1FCA522773D623C062901798" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{C189E366-D15D-468C-A2F1-C22DDAF1B100}">
                <File Id="fil136BB48E8EF95DC44AC78171D3CA5D20" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.Merak.dll" />
            </Component>
            <Component Id="cmp2F2088486B25CBBA296988F185D602F3" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{28E7A41E-D462-493C-9B84-167A73CA41A5}">
                <File Id="filB5701056CEFAB30CDD5C02DED13563E2" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.Merak10.dll" />
            </Component>
            <Component Id="cmpA62744DABB1044B5AC910B0C64FFC1C8" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{8629F33D-A618-4F23-B4B8-B9AA55C0FB96}">
                <File Id="filA00E9CA8A75BC9EE2DEF4C2CA9CEB059" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail10.dll" />
            </Component>
            <Component Id="cmp06AA8A52C332A572C8C74D7F2C95D4DE" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{6FB7AC90-BC48-435C-85D1-A907A9935A8C}">
                <File Id="fil785CD72996AD86F1A6720EA446F8F21B" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail2.dll" />
            </Component>
            <Component Id="cmpCA1F382779EA19E5B8793A3D4FFC0FF2" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{22CE99FB-5B0A-41AB-91F5-62EFE3C3101C}">
                <File Id="filEB2957C86497F25EAC16B036486CA283" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail3.dll" />
            </Component>
            <Component Id="cmp1083DC408DF20492F5DE377A16263FF7" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{40B972C3-ED58-4AE6-98A0-8BE40F70541D}">
                <File Id="filD7F7DAB2FF0788C732AD24E2D383C1DF" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail5.dll" />
            </Component>
            <Component Id="cmp52001A1619C6C6462AD4E18E29D55C6F" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{E326F994-B5EF-4840-A209-B1BC3081CA1D}">
                <File Id="fil72440168699B087AAAC3302250859BFE" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail6.dll" />
            </Component>
            <Component Id="cmpE1B98C56567775781CE232F3214F524A" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{B591B120-2E47-4E3F-AFB7-F1A8E43B85EB}">
                <File Id="fil12C3D1282B8A801E36D99E762A121A66" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail7.dll" />
            </Component>
            <Component Id="cmpA4E38AE6D4E9AE1176AA16104BE5986B" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{E61C43FF-D275-4EA9-9C49-6C07CD55659E}">
                <File Id="filA9E11356C8902BB5EF584834550A69CC" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Mail.SmarterMail9.dll" />
            </Component>
            <Component Id="cmpB38C9202BA28BAD71AD07B923AF3772F" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{45817A42-202A-4E51-A0E3-8FF1831AB193}">
                <File Id="fil06BA6E487745E8B3E0494FFB1AA2B497" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.OS.Windows2003.dll" />
            </Component>
            <Component Id="cmp63DB63B64A618EA65264B01D70000FED" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{BE2EC2B9-8C33-4373-8AA3-6F7CFAB07157}">
                <File Id="fil58C34443FC21D9BE6B71E2919A89BAC0" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.OS.Windows2008.dll" />
            </Component>
            <Component Id="cmp2C66B23D5DF822EB8D663F1FC32F569D" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{92BE6F3A-E176-42C2-AF32-DACE95A50011}">
                <File Id="fil5675AA4257F6D7D96EE65FDBF385ED91" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.OS.Windows2012.dll" />
            </Component>
            <Component Id="cmp9850380FBEE49BF361DE1623D8988A44" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{6E31FC31-258C-4999-AC80-2D22BB35B348}">
                <File Id="filE253B426B238460A49DEEFD29D9142AD" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.RemoteDesktopServices.Windows2012.dll" />
            </Component>
            <Component Id="cmpC14DDD7B34A70EA7083A2BE11838F701" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{B47B9282-EB1F-4A0E-B7A9-9097BFB78F69}">
                <File Id="fil24FA21A4CEF15DA75093A3A5AAFF93A6" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.SharePoint.Sps20.dll" />
            </Component>
            <Component Id="cmpA6C82FCCA55B620D750CE7674B8B9F44" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{591DBC8E-2B62-45D6-A94E-D4A71DFA8163}">
                <File Id="filBB1B7CA0EAC43612F902D90A65A224CE" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.SharePoint.Sps30.dll" />
            </Component>
            <Component Id="cmpFF119681BD8008898F6103A8BCFDBB2F" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{905954E3-45A7-4D9C-A816-7FF071A888B5}">
                <File Id="fil573514FBA2C5F9C92BD1B0532D054554" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Statistics.AWStats.dll" />
            </Component>
            <Component Id="cmp2F5BF453E89F94BB15B7D1949534DF0E" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{4077090F-A35A-4F3A-AF82-07AB9BDE1B08}">
                <File Id="fil14A6E07E9EA9FE90EE1EC91858585B5D" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Statistics.SmarterStats.dll" />
            </Component>
            <Component Id="cmp4AA6CB20AF0A6ECC7DD2D95EF7094CBE" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{21584B5D-C2DD-4CA9-9C0E-026B045DD47F}">
                <File Id="fil7D5F6004B61FE9C35A959936BC31781B" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Virtualization.HyperV.dll" />
            </Component>
            <Component Id="cmp154A0DA3C71753EEEB9F809B83E08E27" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{5BAE2AA6-ED52-460B-B85D-2D35133FE632}">
                <File Id="filFBC7D819D03B96C18FB156EF5F9539A2" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.VirtualizationForPC.HyperVForPC.dll" />
            </Component>
            <Component Id="cmpE9B063D357EB748BE21228BA513E8674" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{AE94158C-AADD-4FE9-8F20-84F8E27353A9}">
                <File Id="fil84F5BBFA5CEC951535A17FE38933B981" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Web.HeliconZoo.dll" />
            </Component>
            <Component Id="cmp32968AF9A3AD6138CDBA254104E73120" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{1BC60132-768D-4BD2-8EF1-D3E56EAED3D2}">
                <File Id="fil7F9A12715FB49D2642B96929B1ECAAA5" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Web.IIs60.dll" />
            </Component>
            <Component Id="cmpFD6B772BF9EB61A8AABA7216A6B675EB" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{EB4E5D83-EC60-41F4-AEDB-B8AD68150858}">
                <File Id="filB31183F0242FE3ABB8E2EFF5383FD7F7" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Web.IIs70.dll" />
            </Component>
            <Component Id="cmp7D71D06B103F2EBDCF0EDBD2460F6502" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{EDC28336-1B0B-470E-89DB-19B9B29DA629}">
                <File Id="filBAEBC7317268ABBD3A5F8E738AB73F39" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Providers.Web.WebDav.dll" />
            </Component>
            <Component Id="cmp5FCD88765D7659FCAB72DE01DA3140D1" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{FE75AEF0-5DD9-407D-A65E-3B1F8DA717C9}">
                <File Id="filFE922D534F7035FB38E8FFD8302CE43A" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Server.dll" />
            </Component>
            <Component Id="cmpE80C969BC3E766BF7FEDB0D98758E8E3" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{63C61C64-7320-4CD3-9F1B-080BE8522C2F}">
                <File Id="filF149294B668ADAD1E4393AAA18AACCF0" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Server.dll.config" />
            </Component>
            <Component Id="cmp81063BD4D67928BEDE27EE6B8E07AAF9" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{1A107C83-86C7-4272-A6CD-A6038E30A347}">
                <File Id="fil2C918FFCA79875EE4BF1EA215A877524" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Server.Utils.dll" />
            </Component>
            <Component Id="cmpCC2FC19B4E788EA65E57C9CC016E04C1" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{7753604F-96EF-4361-8793-A8CAEC3544E0}">
                <File Id="filCFE40B401F4EF39EAE6C9CBE6D4A3057" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Server.WPIService.exe" />
            </Component>
            <Component Id="cmp65CB7C68CAB97FA89556C6A83E32C596" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{9A51B001-1154-46DE-83E6-704F5AD837D9}">
                <File Id="fil78C2D2ADE981704BA7AF30575397B7FB" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WebsitePanel.Server.WPIService.exe.config" />
            </Component>
            <Component Id="cmp378159186E25B10226397C53E06F38BA" Directory="dirFE040D7A5771FED5DD77B7A4BED10E7F" Guid="{05268310-EB0D-4690-AAA0-E97124A2CA60}">
                <File Id="filE2975D3613DBD61E124E4C7EBE483F4E" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\WpiServiceContract.dll" />
            </Component>
            <Component Id="cmp4985003E6B0F0F1645AE04EDE9269CF2" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{94692725-4045-4A6E-8BD7-8CE7400FE342}">
                <File Id="fil50398A76EEBD64ADE5B61D151FC852A5" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.crm.sdk.proxy.dll" />
            </Component>
            <Component Id="cmpAFBA22FA233D2CFF4BBD805340F0D0A9" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{D12D4C89-0EC0-47DA-9FED-AEBF6D738F50}">
                <File Id="filEDA542483FE90DCD594CD35C18C12F81" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.client.codegeneration.dll" />
            </Component>
            <Component Id="cmp62740FCAFC1FB55DF089182FBAA82930" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{B04EB1C1-ECB5-490B-BBBB-E24D74288511}">
                <File Id="filB23E88B971878AF62AEB0AD41113CB04" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.client.dll" />
            </Component>
            <Component Id="cmp4A65EA6177B134C49D67ACF23C7B9B00" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{75823232-359D-4BD8-BEDF-17AB01CF45C9}">
                <File Id="filEC455712CF5CA31CC79277FB2A8EEDA5" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.portal.dll" />
            </Component>
            <Component Id="cmp9F5B9579A69774A96A2A5E831433656C" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{4590CFA3-BA7F-4D77-B3D1-EFF88E2E29D6}">
                <File Id="fil78C4A570820F3C09BF139830A20D0580" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.portal.files.dll" />
            </Component>
            <Component Id="cmp4B5B936B03682B4316FEF78E2CB2EECA" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{9395625F-0CD4-451A-B546-8D32A3C82AAE}">
                <File Id="filAA6555CB16EB7368E0935AD3D36B0098" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.sdk.deployment.dll" />
            </Component>
            <Component Id="cmpDB221AF3E175B9F31103DF784D4A8B29" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{5E1A7311-1378-4193-B4F8-9BD799108883}">
                <File Id="fil3AF7A7AB8BF103BB79B55DE5CDA6953E" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.sdk.dll" />
            </Component>
            <Component Id="cmp0A7AC307A4E864E745D908041B544E61" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{E2111641-8F72-4A79-AF9A-F1BC11BF7F42}">
                <File Id="fil39DAA17C0D70352C51E21C93BF82B3CD" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\microsoft.xrm.sdk.workflow.dll" />
            </Component>
            <Component Id="cmpA3498D1041ABACD2F4399A2B461795EF" Directory="dir0FF1D37B4E002D1097484E8DA68347FE" Guid="{3F3363D1-5CE2-472B-A4E7-9A4D7163D863}">
                <File Id="fil245E9A6DE9B7C784141B733B0901A182" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2011\WebsitePanel.Providers.HostedSolution.Crm2011.dll" />
            </Component>
            <Component Id="cmp600CE97A0561D00935DDC3C869CB5BC0" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{4AF814DB-91BB-46B1-8120-8FA3DF2BC7D3}">
                <File Id="fil2724A9052946EBC7B97A2700DCD3B837" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Crm.Sdk.Proxy.dll" />
            </Component>
            <Component Id="cmp58D4C555A54200FF930A4A9821787905" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{B58F94D1-DCE8-466F-B27F-9254E671072F}">
                <File Id="fil2ED83C4E77D49C99B842E7AACE418F61" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Client.CodeGeneration.dll" />
            </Component>
            <Component Id="cmp20512F14450C80F57E51D4F2DFE7430E" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{9F07ED98-D349-41B6-BEC2-582B3AE97281}">
                <File Id="filD65006CF70206A849BAB186C60FF4370" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Client.dll" />
            </Component>
            <Component Id="cmpE8C26850E14F5DA23D7D9638390E3C4D" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{03BD7A72-7BD0-4BDA-9953-D192AFA69935}">
                <File Id="filEF115D6A5B962C01CCC0B0F4B3B09825" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Portal.dll" />
            </Component>
            <Component Id="cmp197EDE5370E60E063675D38B1B451FCE" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{252F06CE-7413-414D-BD96-7ACB82BF84B8}">
                <File Id="fil815EBE3DA213A225C9D8C64E5E27F8C0" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Portal.Files.dll" />
            </Component>
            <Component Id="cmpB313C65750A6739F92659B31A8760885" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{102C3C6C-8E72-43D7-A919-E2186181D865}">
                <File Id="filE50151DB1204CE36C6C22DF57076F3CE" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Sdk.Deployment.dll" />
            </Component>
            <Component Id="cmp739A4CC29091628852BFF4399EB69968" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{1DBB3199-8021-4CB3-8494-34AA42290652}">
                <File Id="filDD18D2532741F040025B05BEFDC0793D" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Sdk.dll" />
            </Component>
            <Component Id="cmp253CF14BA3D498979675E07A12BF9523" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{31A5BC8C-C15E-48A1-B91E-FAC262AC9A84}">
                <File Id="fil13084C66DF169007CBA96CBDE22259D6" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\Microsoft.Xrm.Sdk.Workflow.dll" />
            </Component>
            <Component Id="cmp0C5DA0CE34C0E7592487E9967664BAAD" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{E9FCC2CA-843F-4FE6-A676-DC5B48F47CEF}">
                <File Id="filAFF3218DD357C7611D065CCC68D49359" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\System.Management.Automation.dll" />
            </Component>
            <Component Id="cmp2DEA3D6DF990C7724B0F1B530014F707" Directory="dir14530AC2BB9F57DEF83E8CF76842E9A1" Guid="{C3386F8E-4CE5-4857-9EDD-275357F45433}">
                <File Id="filA3F7F760A288D162EE6E615A85B1DBEB" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Crm2013\WebsitePanel.Providers.HostedSolution.Crm2013.dll" />
            </Component>
            <Component Id="cmpCEE2DE5921F480D680024ECFC9E4F9B5" Directory="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Guid="{DF2FF832-1CAB-4E94-8CC5-25B49BFF8346}">
                <File Id="filBFA27EC94AACB8942D029160D37FB3BB" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Dns2012\Ionic.Zip.Reduced.dll" />
            </Component>
            <Component Id="cmpC15EACF4C9978AD51C6A7193D28859D5" Directory="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Guid="{6686F985-369C-4B0F-94BB-8387B26D3384}">
                <File Id="fil840EC1EF00874898A1EE79B9EA93628B" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Dns2012\Microsoft.Management.Infrastructure.dll" />
            </Component>
            <Component Id="cmp5E399471288617EBA91BEC5A3D0A53D4" Directory="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Guid="{97195CF3-A4C3-4E6C-93FC-81CE0894D77C}">
                <File Id="filC95A7BD7394C0B6ECC96C1F2B8527FAF" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Dns2012\System.Management.Automation.dll" />
            </Component>
            <Component Id="cmpEA96B4323E4ECB2A09578CCB5B233A73" Directory="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Guid="{E4C1D777-5690-4485-B09C-9CE076CB32BB}">
                <File Id="fil4D3C607CD38D7122FC76402A9193E9B6" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Dns2012\WebsitePanel.Providers.Base.dll" />
            </Component>
            <Component Id="cmp80A882410F75D6B41C82A7EA3A2D0120" Directory="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Guid="{A23C6EE2-D112-4E00-9FCC-E0E8A696245E}">
                <File Id="filB01B9791F743D6A987E95D1A97AA04F3" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Dns2012\WebsitePanel.Providers.DNS.MsDNS2012.dll" />
            </Component>
            <Component Id="cmpB54E7486866B33C5516D55BB38C8D42F" Directory="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Guid="{DCA8C425-CF17-4E0E-830A-0190E73B4834}">
                <File Id="fil67DE9EE273A5936C2749D2C54EA87413" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Dns2012\WebsitePanel.Server.Utils.dll" />
            </Component>
            <Component Id="cmp168AE7D42CCDE5239DBC3F652AD99C74" Directory="dir30FECF9E1562D1E619668EB5D21027FC" Guid="{F3EFB54F-A36E-457A-9C28-EB8525CAA8FC}">
                <File Id="filC316983A9FBFA8054061C1E2D4FF7FF6" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Exchange2013\WebsitePanel.Providers.HostedSolution.Exchange2013.dll" />
            </Component>
            <Component Id="cmp324158A3B60665EF9B8FDB27D76D8D3E" Directory="dir0EE9B80D60D6BE4DCE110990FB635EA7" Guid="{BAAD02E6-E213-4B02-983D-EC2DC83D4FC6}">
                <File Id="fil0AE2A62224B28CB32C10969DC44EA1FD" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\IceWarp\WebsitePanel.Providers.Mail.IceWarp.dll" />
            </Component>
            <Component Id="cmpEC8C9D71455BA37AC2CB74D469511A4B" Directory="dir545332CB192D456FD4BEFF68E1658417" Guid="{26368089-2B06-4270-BA73-CF192BB7680D}">
                <File Id="fil0A9E6D264D8AA75E1D602A135A039DB0" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\IIs80\WebsitePanel.Providers.Web.IIs80.dll" />
            </Component>
            <Component Id="cmp4613983A20D5646920C0EAA77F4FC7C0" Directory="dir899A65007F0749FFEFB03A98389E2079" Guid="{723CD743-3187-4D58-9791-2F4C36511372}">
                <File Id="fil44D8CC7D807D8FEBAB4FE6054620C736" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Lync2013\WebsitePanel.Providers.Base.dll" />
            </Component>
            <Component Id="cmp3C97FB9FDA4AD2A6CCAE7058F0F2E380" Directory="dir899A65007F0749FFEFB03A98389E2079" Guid="{C12290AD-83B0-4DF4-8A54-E061FC4AFA39}">
                <File Id="fil23CA402B8594238B3D64EFD3B4F17880" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Lync2013\WebsitePanel.Providers.HostedSolution.Lync2013.dll" />
            </Component>
            <Component Id="cmpAB76FA39538E7C8466CA77180637A684" Directory="dir899A65007F0749FFEFB03A98389E2079" Guid="{BFA6D660-DB37-4E5E-ADFC-5D91D9ABEDF1}">
                <File Id="filB0539BC659B2897F193D3FC4511C39F2" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Lync2013\WebsitePanel.Providers.HostedSolution.Lync2013HP.dll" />
            </Component>
            <Component Id="cmp07CD2C76A86BAB89DD086BC9292D5A12" Directory="dir899A65007F0749FFEFB03A98389E2079" Guid="{1727B416-06E2-43D6-AB68-3AE8EED81B92}">
                <File Id="fil6A766B3DB5441EF371E0E8117306BE23" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Lync2013\WebsitePanel.Server.Utils.dll" />
            </Component>
            <Component Id="cmpAC4A187E977273BE5B8FA2D4DD607F74" Directory="dirB3D4D8D478E88FDD3AAF3F23B7B1E605" Guid="{52B839AE-7A7B-4BB9-B09A-DA2FA8B476D0}">
                <File Id="fil0AD10A0DE839FF8CECBF22DB6B427C12" KeyPath="yes" Source="!(wix.BUILDSPATH)\bin\Sharepoint2013\WebsitePanel.Providers.HostedSolution.SharePoint2013.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir0EE9B80D60D6BE4DCE110990FB635EA7" Name="IceWarp" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir0FF1D37B4E002D1097484E8DA68347FE" Name="Crm2011" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir14530AC2BB9F57DEF83E8CF76842E9A1" Name="Crm2013" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir30FECF9E1562D1E619668EB5D21027FC" Name="Exchange2013" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir545332CB192D456FD4BEFF68E1658417" Name="IIs80" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir899A65007F0749FFEFB03A98389E2079" Name="Lync2013" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dir9DB81FFFD1FC013D1C2CF57BA60D8A21" Name="Dns2012" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFE040D7A5771FED5DD77B7A4BED10E7F">
            <Directory Id="dirB3D4D8D478E88FDD3AAF3F23B7B1E605" Name="Sharepoint2013" />
        </DirectoryRef>
    </Fragment>
</Wix>